@import "./reset.css";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #8794ba;
  background: #f8f9ff;
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 890px;
}

.none {
  display: none;
}

.burger {
  display: none;
}

.close {
  display: none;
}

.rating_sign_input {
  display: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  color: #172755;
}
.text {
  line-height: 1.5;
}

.header__top {
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: calc((100% - 1210px) / 2 + 15px);
  padding-right: calc((100% - 1210px) / 2 + 15px);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  position: relative;
}

.header__logo__menu {
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 95px;
}
.menu__list {
  display: flex;
  column-gap: 36px;
}

.menu__link {
  color: #8794ba;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.menu__link:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.menu__link:active {
  position: relative;
  top: 1px;
}

.sign {
  display: flex;
  column-gap: 40px;
}
.sign__in-btn {
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.sign__in-btn:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.sign__up-btn, .sign__up-btn2 {
  display: inline-block;
  height: 40px;
  padding-left: 53px;
  padding-right: 53px;
  border: 1px solid #465b95;
  border-radius: 68px;
  line-height: 40px;
  transition: background 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.sign__up-btn:hover,
.sign__up-btn2:hover {
  background: #ef2a82;
  color: #172755;
  border: 1px solid #ef2a82;
}

.sign__up-btn:active,
.sign__up-btn2:active {
  position: relative;
  top: 1px;
}

.sign__up-btn2 {
  display: none;
}
.header__row {
  margin-top: 74px;
  padding-bottom: 96px;
  display: flex;
  align-items: center;
  column-gap: 81px;
  padding-left: calc((100% - 1210px) / 2 + 15px);
  overflow-x: hidden;
}

.header__content {
  max-width: 550px;
  flex-shrink: 0;
  margin-bottom: 78px;
}

.header__title {
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.header__text {
  margin-bottom: 49px;
}

.header__text > p {
  margin-bottom: 15px;
}

.main {
  margin-top: 74px;
  padding-bottom: 109px;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 80px;
  border-radius: 68px;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  border: 1px solid #2a407c;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn:hover {
  background: #0f1f4b;
  color: #f8f9ff;
}

.btn--red {
  background:#EF2A82;
}
.header__img {
  position: relative;
  flex-shrink: 0;
  margin-left: 68px;
}

.header__img img {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.header__img::before {
  position: absolute;
  content: "";
  background-image: url("../img/header/screen-chart.svg");
  background-repeat: no-repeat;
  width: 361px;
  height: 247px;
  left: -69px;
  top: 124px;
  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2);
  border-radius: 32.0414px;
}

.features {
  margin-top: 38px;
  padding-bottom: 130px;
}

.features__top {
  text-align: center;
}

.features__title {
  margin-bottom: 30px;
}

.features__text {
  margin: 0 auto 81px;
  max-width: 1060px;
}

.features__text > p {
  margin-bottom: 15px;
}

.features__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}

.features__column {
  width: 380px;
  text-align: center;
}

.features__column-img {
  margin-bottom: 26px;
}

.features__column-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #172755;
}

.features__column-desc {
  font-size: 16px;
  line-height: 1.375;
}

.automated {
  padding-bottom: 114px;
}

.automated__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.automated__row + .automated__row {
  margin-top: 120px;
}

.automated__row:nth-child(even) {
  flex-direction: row-reverse;
}

.automated__column {
  width: 480px;
  flex-shrink: 0;
}

.automated__column-title {
  margin-bottom: 30px;
}

.automated__column-text > p {
  margin-bottom: 15px;
}

.automated__column-img {
  width: 600px;
  box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
  border-radius: 30px;
  margin: 0 auto;
}

.price {
  background-image: url("../img/price/price-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1086px;
}

.price__top {
  padding-top: 272px;
  padding-bottom: 80px;
  text-align: center;
}

.price__top-title > * {
  padding-bottom: 30px;
  color: #fff;
}

.price__top > p {
  margin: 0 auto 15px;
}

.price__card {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 340px;
  background-color: #0f1f4b;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  text-align: center;
  border-bottom: 1px solid #2a407c;
  cursor: pointer;
}

.card:hover {
  background-color: #fff;
  box-shadow: 0px 18px 50px -15px #060f28;
  transition: background 0.5s ease-in;
}

.card:hover .card__top {
  border-bottom: 1px solid #D3D9E9;
}

.card:hover .card__title {
  color: #172755;
}

.card:hover .card__inner-cost {
  color: #172755;
}

.card:hover .btn {
  background: #ef2a82;
  border: none;
}
.card__content {
  padding: 50px 60px 70px 60px;
}

.card__top {
  border-bottom: 1px solid #2a407c;;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.166;
  color: #fff;
}

.card__text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 37px;
}

.card__inner {
  margin-top: 28px;
  margin-bottom: 40px;
}

.card__inner-cost {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.166;
  color: #fff;
}

.card__inner-cost span {
  font-size: 30px;
}

.card__inner-descr {
  font-size: 16px;
  line-height: 1.375;
}

.companies {
  padding-top: 151px;
  max-width: 962px;
  margin: 0 auto;
}

.companies__row {
  display: flex;
  justify-content: space-between;
  column-gap: 46px;
}

.companies__column {
  width: 480px;
  height: 480px;
  position: relative;
}

.companies__column--mini-size {
  width: 431px;
  flex-shrink: 0;
}

.companies__title {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #160637;
}

.companies__descr {
  margin-bottom: 51px;
  position: relative;
  text-align: center;
}

.companies__descr::before,
.companies__descr::after {
  position: absolute;
  content: "";
  width: 144px;
  height: 2px;
  background: #d6d6d6;
  top: 50%;
  transform: translateX(-50%);
}

.companies__descr::before {
  left: 73px;
}

.companies__descr::after {
  right: -67px;
}

.companies__icons {
  width: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
  column-gap: 105px;
}

.companies__icons-accenture,
.companies__icons-react,
.companies__icons-airbnb,
.companies__icons-sky {
  fill: #8989a2;

  transition: fill 0.3s ease-in;
}

.companies__icons-accenture:hover {
  fill: #000;
}

.companies__icons-react:hover {
  fill: rgb(152, 152, 253);
}

.companies__icons-airbnb:hover {
  fill: rgb(254, 69, 69);
}

.companies__icons-sky:hover {
  fill: blue;
}

.companies__column + .companies__column {
  background: #f9f0ff;
  border-radius: 4px;
}

.companies__column-inner {
  position: absolute;
  left: 14px;
  top: -42px;
  padding: 32px 40.5px;
  width: 428px;
  background-color: #fff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
}

.companies__column-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #160637;
  text-align: center;
}

.form__authorization {
  margin-bottom: 16px;
}

.form__authorization > * + * {
  margin-top: 16px;
}

.form__auth-btn {
  padding-left: 105px;
  padding-right: 104px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  background: #722ed1;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  transition: background 0.3s ease-in;
}

.form__auth-btn:hover {
  background: #ef2a82;
}

.form__auth {
  padding: 16px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #2a407c;
}

.form__auth::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #8989a2;
}

.companies__stars {
  text-align: center;
  font-weight: 500;
}

.companies__stars-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  color: #000000;
}

.rating-area {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.check {
  color: gold;
}

.rating_sign_label:hover {
  color: gold;
}

.companies__stars-text {
  padding-top: 16px;
  font-size: 14px;
  line-height: 1.142;
  border-top: 1px solid rgba(137, 137, 162, 0.48);
}

.companies__stars-text a {
  color: #722ed1;
}

.footer {
  background: #1f2f5c;
}

.footer__row {
  padding: 64px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  display: flex;
  gap:36px;
}

.footer__menu-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.142;
  color: #8794ba;
  transition: transform 0.3s ease-in;
}

.footer__menu-link:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.footer__social-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.footer__social-link {
  display: inline-block;
  fill: #8794ba;
  border-radius: 8px;
  background-color: transparent;
  transition: fill 0.3s ease-in, background-color 0.3s ease-in, transform 0.3s ease-in;
}

.footer__social-link:hover {
  fill: #ef2a82;
  transform: scale(1.3);
}
